*/bin/*
bin/
*.log
*.aux
*.fls
tmpOut
packaging
!src/packaging
handinCTAN.zip
handin/
docs/handin.tex
README.md.bak
src/_minted-manual/
example.fdb_latexmk
src/tmpDocs/
src/tmpDocs/*
!src/tmpDocs/docskeleton.tex
